* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
}
.container #main_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container .video_container {
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.container .video_container video {
  width: 200px;
  border: 4px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 5px;
  cursor: pointer;
  object-fit: cover;
  transition: all 0.5s;
}

.container .video_container video:hover {
  box-shadow: 0 0 10px white;
  transform: scale(1.5);
}
